body{
    margin: 0;
}

#particles-js{
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    overflow-y:hidden ;
    background: linear-gradient(-140deg, #020072, #003e85, #cecece, #2b2b2b);
	background-size: 400% 400%;
	animation: gradient 9s ease infinite;
    z-index: 0;
    position: fixed;
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}