@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&display=swap');

html{
font-size: 62.5%; /*  1rem = 10px  */
overflow: scroll;
scroll-behavior: smooth;
}




/* nav style start*/

.navbar{

    width: 100%;
    display: flex;
    align-items: center;
}

.logo{
width :20rem;
padding: 1rem;
cursor: pointer;
margin-left: 2rem;
align-content: center;
}

.menu-icon{
    width: 2rem;
    cursor: pointer;
    display: none;
    background: rgba(255, 255, 255, 0.534);
    border-radius: 9rem;
    padding: 1.2rem;
}

nav{
    flex:1;
    text-align: right;
    z-index: 2;
}

nav ul li {
    display: inline-block;
    margin-right: 3rem;
}

nav ul li a{
   color: rgb(255, 255, 255);
   padding: 2rem 2rem;
   font-size: 1.7rem;
}

nav ul li a:hover{
    color: rgba(43, 43, 43, 0.733);
    background-color: rgba(255, 255, 255, 0.74);
    border-radius: .3rem;
    margin: 1rem;
    
}


/*nav end*/






img{
    z-index:  1;
    height: 60%;
    width: 53%;
    backdrop-filter: blur( .12rem );
}
a{
    text-decoration: none;
}
body{
    font-family: 'Poppins', sans-serif;
    color: rgb(0, 0, 0);
    max-width: 100vw;
    overflow-x: hidden;
    background: black;

}
.event{
    display: flex;
    width: 80%;
    margin: auto;
    align-content: center;
    justify-content: space-around;
    flex-direction: row;
    padding-top: 10%;
    color: white;
}


.event-head{
    margin: auto;
    font-weight: bold;
}
.event-card{
    color: white;
    display: flex;
    z-index:1;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: -20rem;
    background-color: rgba(255, 255, 255, 0.123);
    padding: 2rem;
    padding-left: 30rem;
    border-radius: 1rem;
    border: 0.1rem solid rgba(255, 255, 255, 0.089);
    box-shadow: 0 .8rem 3.2rem 0 rgba(36, 36, 36, 0.74);
    backdrop-filter: blur( .45rem );
    -webkit-backdrop-filter: blur( 0.45rem );

}
.event-buttons{
    display: flex;
    flex-direction: row;
    margin: auto;
    margin-top:5%;
    width: 54%;
    align-items: flex-start;
    justify-content: space-between;
    font-size: 1.2vw;
    
}
.register-button{
    text-align: center;
    color: white;
    padding: 2rem ;
    border-radius: 1rem;
    background: #00be9f;
    box-shadow:  2px -2px 7px #0ab498,
                 -2px 2px 7px #0a9b57;


}
.register-button:hover{
    background: linear-gradient(45deg, #e6e6e6, #ffffff);
    box-shadow:  3px -4px 10px #e8e8e8,
                 -4px 4px 10px #ffffff;
                 color: black;
                 font-weight: bold;
}
.page-link{
    
    text-align: center;
    color: white;
    padding: 2rem;
    border-radius: 1rem;
    background: #228aec;
    box-shadow:  2px -2px 7px #1f93d7,
                 -2px 2px 7px #10419b;
    
}
.page-link:hover{
    background: linear-gradient(45deg, #e6e6e6, #ffffff);
    box-shadow:  4px -4px 10px #e8e8e8,
                 -4px 4px 10px #ffffff;
                 color: black;

                 font-weight: bold;

}

.event-text{
    font-size: 1.6rem;
    font-weight: 400;
    color: rgb(255, 255, 255);
}
#particles-js{
    width: 100%;
    height: 100%;
}


/*MOBILE VIEW */

@media (max-width: 900px) {
    .logo{width: 11rem;}
    .menu-icon{width: rem;}
      nav ul{
           width:100%;
           backdrop-filter: blur(12px) saturate(200%);
           -webkit-backdrop-filter: blur(12px) saturate(200%);
           background-color: rgba(255, 255, 255, 0.45);
           position: absolute;
           border-bottom: .1rem solid rgba(255, 255, 255, 0.815);
           
           top: 4rem;
           right :0;
           z-index: 2;    
       }
 
 nav ul li{
      display: block;
      margin-top:1rem;
      margin-bottom: .5rem;
 }
 nav ul li a{
      color: white;
      font-size:1rem;
 }
 .menu-icon{
      display: block;
      margin-right: 2rem;
 }
 
 #menuList{
      overflow: hidden;
      transition: 0.5s;
      
 }
 
    img{
        width: 80%;
        height: 80%;
    }
    body{
        max-width: 100vw;
        width: 100%;
    }
    .event{
        flex-wrap: wrap;
        width: 90%;
    }
    .event-card{
        margin-left: 0rem;
        padding-left: 0rem;
        padding:2rem;
        margin-top: -12.5rem;
        padding-top: 12.5rem;
    }
    .event-text{
        font-size: 3.5vw;
    }
 
    h1{
        font-size:3.7vw;
    }
    .event-buttons{
        width: 55%;
    }
    .register-button,.page-link{
        padding: 1rem;
        font-size: 3vw;
    }

}



/*Time line*/


.eventx{
    padding-top: 10%;
    width: 44%;
    margin: auto;
  color: white;
}

.timeline {
    list-style-type: none;
    display: flex;
    align-items: center;

  }

  .event-cardx{
    width: 84%;
    margin: auto;
    display: flex;
    z-index:1;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 5rem;
    border-radius: 1rem;

    backdrop-filter: blur(1rem) saturate(130%);
           -webkit-backdrop-filter: blur(1.2rem) saturate(160%);
           background-color: rgba(255, 255, 255, 0.45);
           border-bottom: .1rem solid rgba(255, 255, 255, 3);
           
    
}
  
  .li {
    transition: all 200ms ease-in;
  }
  
  .timestamp {
    margin-bottom: 2rem;
    padding: 0rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: bold;
  }
  
  .status {
    padding: 0rem 2rem ;
    display: flex;
    justify-content: center;
    border-top: .2rem solid #D6DCE0;
    position: relative;
    transition: all 200ms ease-in;
  }
  .status h4 {
    font-weight: bold;
  }
  .status:before {
    content: "";
    width: 2.5rem;
    height: 2.5rem;
    background-color: rgb(17, 0, 116);
    border-radius: 2.5rem;
    border: .1rem solid #ddd;
    position: absolute;
    top: -1.5rem;
    left: 42%;
    transition: all 200ms ease-in;
  }
  
  .li.complete .status {
    border-top: .2rem solid #ffffff;
  }
  .li.complete .status:before {
    background-color:#76A5AF;
    border: .2rem white solid;
    transition: all 200ms ease-in;
  }
  .li.complete .status h4 {
    color: #ffffff;
    text-align: center;
    padding: 1rem;
  }
  
  @media (min-device-width: 320px) and (max-device-width: 883px) {

    .timeline {
      list-style-type: none;
      display: block;
    }
  
    .li {
      transition: all 200ms ease-in;
      display: flex;
      width: inherit;
    }
  
    
    .status:before {
      left: -8%;
      top: 30%;
      transition: all 200ms ease-in;
    }



    .event-cardx{
        width: 120%;
        margin: auto;
        display: flex;
        z-index:1;
        flex-direction: row;
        flex-wrap: wrap;
        padding: 5rem;
        border-radius: 1rem;
        
       
    }
  }
  
/*end of timeline*/
